@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #4361EE;
  --color-primary-light: #E4E9FB;
  --color-primary-hover: #304FFD;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-primary-hover: var(--color-primary-hover);
}
